---
layout: layout-ru-3col
---

%section.partners
  .partner
    %a{:href => "#"}
      = image_tag "partners/partner1.png"
  .partner
    %a{:href => "#"}
      = image_tag"partners/partner2.png"
  .partner
    %a{:href => "#"}
      = image_tag"partners/partner3.png"
  .partner
    %a{:href => "#"}
      = image_tag"partners/partner4.png"
  .partner
    %a{:href => "#"}
      = image_tag"partners/partner5.png"
  .partner
    %a{:href => "#"}
      = image_tag"partners/partner6.png"
  .partner
    %a{:href => "#"}
      = image_tag"partners/partner7.png"