---
layout: layout-en-2col
---

#about-samovar
  =partial "about-samovar-en"

%h1 OUR TEAM

.team-member
  = image_tag 'anna.png'
  .description
    = partial "about-anya-en"

.team-member
  = image_tag 'karen.jpg'
  .description
    = partial "about-karen-en"

.team-member
  = image_tag 'dasha.jpg'
  .description
    = partial "about-dasha-en"

.team-member
  = image_tag 'francesca.jpg'
  .description
    = partial "about-francesca-en"

.team-member
  = image_tag 'raymond.jpg'
  .description
    = partial "about-raymond-en"
