!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  = partial "layouts/head"
  %body
    = partial "layouts/fb"
    = partial "layouts/header-ru"

    %div{:role => "main", :class => "main"}
      .three-cols
        .content
          = yield
          = partial "module/social-comments"

        .side-bar-1
          = partial "module/news-big"

        .side-bar-2
          -#= partial "module/cuisines"
          -#= partial "module/calendar"
          = partial "module/social-tracker"

    =partial "layouts/footer"