.cuisines
  %ul
    %li
      = link_to 'Francais', './cuisine-francais.html', :relative => true
    %li
      = link_to 'Italiano', './cuisine-italiano.html', :relative => true
    %li
      = link_to 'English', './cuisine-english.html', :relative => true
    %li
      = link_to 'Japanese', './cuisine-japanese.html', :relative => true
    %li
      = link_to 'Русская', './cuisine-russian.html', :relative => true