---
layout: layout-ru-3col
---

%section.partners
  .partner
    %a{:href => "http://dodoproject.com/", :target => "_blank"}
      = image_tag "partners/dodo.png"
  .partner
    %a{:href => "http://lovelyrussia.com/", :target => "_blank"}
      = image_tag"partners/lovelyrussia.png"
  .partner
    %a{:href => "http://www.o-zh.ru/", :target => "_blank"}
      = image_tag"partners/o-zh.png"
  .partner
    %a{:href => "http://www.justevent.ru/", :target => "_blank"}
      = image_tag"partners/justevent.png"
  .partner
    %a{:href => "http://www.premiara.ru/", :target => "_blank"}
      = image_tag"partners/premiara.png"
  .partner
    %a{:href => "http://www.cupolicious.com/", :target => "_blank"}
      = image_tag"partners/cupolicious.png"
  .partner
    %a{:href => "http://realmoscow.me/", :target => "_blank"}
      = image_tag"partners/realmoscow.png"